/* Styling the Body element i.e. Color,
        Font, Alignment */
        body {
          background-color: #05c46b;
          font-family: Verdana;
      }

      /* Styling the Form (Color, Padding, Shadow) */
      form {
          background-color: #fff;
          max-width: 500px;
          margin: 50px auto;
          padding: 30px 20px;
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
      }
      /* Styling form-control Class */
      .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

    /* Styling form-control Label */
    .form-control label {
        display: block;
        margin-bottom: 10px;
    }/* Styling form-control Class */
    .form-control {
      text-align: left;
      margin-bottom: 25px;
  }

  /* Styling form-control Label */
  .form-control label {
      display: block;
      margin-bottom: 10px;
  }/* Styling Button */
  button {
    background-color: #05c46b;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.tab{
    display:none;
}





/* <= 568px */
@media screen and (max-width: 568px) {
    table {
        border: 0;
    }
    table thead {
        display: none;
    }
    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }
    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }
    table td:last-child {
        border-bottom: 0;
   }
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}
